<form class="" action="__SELF__" method="post">


<div align="center">
  <table width="600" border="0">
    <tr>
      <td><h1  align="center">&nbsp;</h1>
      <h1 align="center">&nbsp;</h1>
      <h1 align="center" id="biaoti">欢迎访问学生成绩管理系统</h1>
      <p align="center">&nbsp;</p></td>
    </tr>
    <tr>
      <td>
        <div>
          <table width="311" align="center">
              <tr>
                  <td width="234" align="center">
                    用户ID：<input type="text" name="userid" id="userid" maxlength="20" required><br/><br/>
                        密&nbsp;&nbsp;码：<input type="password" name="password" id="password" required><br/><br/>
                    <p>
                          <label>
                            <input type="radio" name="usertype" value="student" checked />
                            学生</label>
                          <label>
                            <input type="radio" name="usertype" value="teacher" />
                            教师</label>
                          <label>
                            <input type="radio" name="usertype" value="admin" />
                            管理员</label>
                          <br />
                    </p></td>
                    <td width="65">
                      <button type="submit" class="">登录</button>
                  </td>
                </tr>
            </table>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="tishi" align="center"></div>
      </td>
    </tr>
  </table>
</div>
</form>