<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分页</title>
    <script> 
	   window.onload = function() { 
	       var rs = document.getElementsByName('r'); 
	       var divs = document.getElementsByTagName('span'); 
	       var index = 0; 
	       for (var i = 0; i < rs.length; i++) { 
	           rs[i]._index = i; 
	           rs[i].onclick = function() { 
	                divs[index].style.display = "none"; 
	                divs[this._index].style.display = "block"; 
	                index = this._index; 
	           }; 
	       } 
	       rs[index].checked = true; 
	       divs[index].style.display = "block"; 
	   }; 
	</script>
</head>
<body>
<table style="border:1px solid #0094ff;" >
	<tr>
		<td>专业学期选择：</td>
	    <volist name="sign1" id="vo1">
		    <td>
		    	<input type="radio" name="r" value="1"/>{$vo1}
		    </td>
		</volist>
	</tr>
</table>
<?php 
foreach ($sign2 as $key => $value) {
	echo '<span style="display:none;">';
	echo '管理员老师申请审核的同学信息';
	echo '<br />';
	echo '<table>';echo '<th>学生ID</th>';echo '<th>操作</th>';
	 foreach ($value['y'] as $key1 => $value1) {
	echo '<tr>';
	echo '<th>';
	echo "$value1";
	echo '</th>';
	echo "<th>";
	echo "<a href=\"yes?sid=$value1&gid=$key\" onclick=\"if(confirm('确认同意修改？')==false)return false;\">同意修改</a>".'|'."<a href=\"no?sid=$value1&gid=$key\" >拒绝修改</a>";
	echo "</th>";
	echo '</tr>';
	 }
    echo '</table>';
	echo '<br />';
	echo '</span>';
}
?>
<!--<volist name="sign3" id="li">
	<span style="display:none;">
		<volist name="li" id="vo">{$vo}
		</volist>
	</span>
</volist>
-->

</body>
</html>